**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.env
.env.local
.env.*.local
.env.example
.git
.gitignore
.gitattributes
tests/
venv/
.venv/
*.egg-info/
*.md
!README.md
build/
dist/
*.egg
.vscode/
.idea/
alembic/
alembic.ini
Procfile
railway.json
requirements-dev.txt
